<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>

<body>
  <h1>THIS PAGE IS ONLY AVAILABLE TO MEMBERS</h1>
  <p>If you would like to become a member, please join our secret club by entering the code on the main page</p>
  <a href="/">Back to home</a>
</body>

</html>