#hide {
  display: none;
}

#show {
  display: grid;
}

#false {
  display: none;
}

#true {
  display: grid;
}

body {
  /* display: grid; */
}

table {
  display: grid;
  border: 2px solid black;
}

#messages {
  border: 2px solid black;
  display: grid;
  /* grid-template-columns: [mstart] 400px [mid] 400px [mend]; */
  /* justify-content: center; */
  gap: 20px;
  width: 400px;
}

.message-block {
  /* display: grid */
  /* border: 2px solid red; */
  /* width: 1fr; */
  /* align-content: center; */
  /* justify-content: center; */
}

.header {
  /* display: grid;
  grid-template-rows: [title] 200px [hmid] [author] 200px [hend]; 
  border: 2px solid red; */
  /* width: 200px; */
}

#locals {
  /* border: 2px solid blue; */
}

.title {
  /* border: 2px solid black;
  grid-row-start: title;
  grid-row-end: hmid; */
}
/* 
#header {
  border: 2px solid blue;
}


#messages {
  align-content: center;
  justify-items: center;
}

.message-block {
  display: grid;
  grid-template-rows: [top] 30px [mid] 100px [mid-end] 30px [end];
  grid-template-columns: [left] 100px [middle] 200px [mid-right];
  border: 2px solid red;
  width: 350px;
  margin: 20px;
  text-align: center;
}

h1.title {
  grid-row-start: top;
  grid-row-end: mid;
  grid-column-start: left;
  grid-column-end: mid-right;
  font-size: medium;
  height: 30px;
}

h2.author {
  font-size: small;
  grid-column-start: middle;
  grid-column-end: mid-right;
  grid-row-start: mid-end;
  grid-row-end: end;
}


.text {
  grid-column-start: left;
  grid-column-end: mid-right;
  grid-row-start: mid;
  grid-row-end: mid-end;
}

h2.time {
  font-size: x-small;
  grid-column-start: left;
  grid-column-end: middle;
  grid-row-start: mid-end;
  grid-row-end: end;
} */

.hide {
  display: none;
}
